<h2>Создание пользователя</h2>



<form [formGroup]="userForm" (ngSubmit)="onSubmit()" *ngIf="userForm">
    
  <div>
    <label>Имя:</label>
    <input formControlName="firstName">
  </div>

  <div>
    <label>Фамилия:</label>
    <input formControlName="lastName">
  </div>

  <div>
    <label>Возраст:</label>
    <input type="number" formControlName="age">
  </div>

  <div>
    <label>Телефон:</label>
    <input formControlName="telephone">
  </div>

  <div>
    <label>Колледж ID:</label>
    <input type="number" formControlName="collegeID">
  </div>

  <button type="submit">Создать</button>
</form>
