<h2>Создание пользователя</h2>


<div class="form">
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()" *ngIf="userForm">
    
 
    <label>Имя:</label>
    <input formControlName="firstName">



    <label>Фамилия:</label>
    <input formControlName="lastName">
 


    <label>Возраст:</label>
    <input type="number" formControlName="age">



    <label>Телефон:</label>
    <input formControlName="telephone">



    <label>Колледж ID:</label>
    <input type="number" formControlName="collegeID">
 
  <div class="buttons">

    <button class ="btn" type="submit">Создать</button>
  </div>
  
</form>
</div>

